/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Custom varibles to keep website consistant  */
:root{
  --main-color: #c7b47c;
  --secondary-color:#1A4A5A;
  --thrid-color:#bfe79e;
  --light-blue:#58bff7;
  --dark-blue:#0E2C40;
  --side-margin:20vw;

  --background-color: #d5c186;

  --large-card-margin:3%;

}

/* Hide x-axis over flow */
html, body {
    overflow-x: hidden;
    background-color: var(--background-color);

    overflow-y: scroll;        /* Keeps scrolling */
    scrollbar-width: none;     /* Firefox */
}



body::-webkit-scrollbar {
    display: none;            /* Chrome, Edge, Safari */
}




/* Navbar Code --------------------------------------------------------- */
.navbar {

    width:100%;
    height: 10vh;
    padding: 15px 30px;


    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;


    position: fixed;
    background-color: var(--main-color);

    border-bottom: 2px solid #bba974;
    border-radius: 5px;
    
}

.nav_logo {
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: var(--light-blue);
}

/* Make logout button look like nav links */
.nav-links li button.nav-link-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;           /* inherit font family, weight, size */
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

/* Hover matches <a> hover */
.nav-links li button.nav-link-btn:hover {
    color: var(--light-blue);
}

.nav-spacer{
    height: 10vh;
    width: 100%;
}
/* Navbar Code End --------------------------------------------------------- */
