{% load static %}


<!Doctype html>
<html>
  <head>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <meta charset = "utf-8">
    <title>
    
      {% block title %}
      App Name Here
      {% endblock title %}
    </title>
  </head>

  <header>
    {% block header %}
      {% if user.is_authenticated %}
      <nav-bar
      logout-url="{% url 'logout' %}" 
      csrf-token="{{ csrf_token }}"
      character_list_url = "{% url 'character_list' %}"
      ></nav-bar>
      {% endif %}
    {% endblock header %}

    <div class="navbar-spacer"></div>
  </header>
  
  <body>
    <main>
      {% block content %}
      Stuff Goes Here
      {% endblock content %}
    </main>


    <!-- JS files here -->
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
