{% extends 'base.html' %}


{% block content %}

<div style="display:none;">
  {% csrf_token %}
</div>

<!-- Page container has two sides, left and right -->
<div class = 'page-container'>

    <!-- left page components -->
    <div class = 'left-container'>

        <!-- Stat Wrapper -->
        <div class="stats-wrapper">

            <!-- Div for background color of all player attributes -->
            <div style="background-color: rgb(139, 94, 26); border-radius: 5px;">

                <!-- Div containing the first 3 attributes -->
                <div class="stat_container">

                    <!-- Agility -->
                    <div class="character_stat">
                        <h1>Agility</h1>
                        <h1>{{ character.agility }}</h1>
                    </div>
                    <!-- Cunning -->
                    <div class="character_stat">
                        <h1>Cunning</h1>
                        <h1>{{ character.cunning }}</h1>
                    </div>

                    <!-- Spirit -->
                    <div class="character_stat">
                        <h1>Spirit</h1>
                        <h1>{{ character.spirit }}</h1>
                    </div>
                </div>

                <!-- second container -->
                <div class="stat_container">

                    <!-- Strength -->
                    <div class="character_stat">
                        <h1>Strength</h1>
                        <h1>{{ character.strength }}</h1>
                    </div>

                    <!-- Lore -->
                    <div class="character_stat">
                        <h1>Lore</h1>
                        <h1>{{ character.lore }}</h1>
                    </div>

                    <!-- Luck -->
                    <div class="character_stat">
                        <h1>Luck</h1>
                        <h1>{{ character.luck }}</h1>
                    </div>
                </div> <!-- stat container-->
            </div> <!-- background color div-->
        </div> <!-- end of stats -->

        <div class="stats-wrapper">
            <div class = 'combat_container' style="background-color: rgb(91, 32, 15);">


                <div class = 'character_stat'>
                    <h1>Grit</h1>
                    <h1>{{character.max_grit}} / {{character.grit}}</h1>
                    <div>
                        <button>+</button>
                        <button>-</button>
                    </div>         
                </div>


                <div class = 'character_stat'>
                    <h1>Range</h1>
                    <h1>{{character.range}}+</h1>
                </div>
                <div class = 'character_stat'>
                    <h1>Melee</h1>
                    <h1>{{character.melee}}+</h1>
                    <h3>Combat: {{character.combat}}</h3>
                </div>

                <div class = 'character_stat'>
                    <h1>Initiative</h1>
                    <h1>{{character.initiative}}</h1>
                </div>


            </div>
        </div> <!-- end of combat -->

        <div class = 'stats-wrapper'>
            <div class = 'stat_container' style="background-color: rgb(132, 19, 19);">
                <div class = 'character_stat'>
                    <h1>Health</h1>
                    <h1 id = 'health_stat'>{{character.health}} / {{character.max_health}}</h1>
                    <div>
                        <button id = "health_add">+</button>
                        <button id = "health_sub">-</button>
                    </div>  
                </div>

                <div class = 'character_stat'>
                    <h1>Defense</h1>
                    <h1>{{character.defense}}+</h1>
                </div>

                <div class = 'character_stat'>
                    <h1>Armor</h1>
                    <h1>{{character.armor}}</h1>
                </div>
            </div>
        </div> <!-- end of health -->

        <div class = 'stats-wrapper'>
            <div class = 'stat_container' style="background-color: rgb(23, 30, 130);">
                <div class = 'character_stat'>
                    <h1>Sanity</h1>
                    <h1>{{character.sanity}} / {{character.max_sanity}}</h1>
                    <div>
                        <button>+</button>
                        <button>-</button>
                    </div>  
                </div>

                <div class = 'character_stat'>
                    <h1>Will Power</h1>
                    <h1>{{character.will_power}}+</h1>
                </div>

                <div class = 'character_stat'>
                    <h1>Spirit Armor</h1>
                    <h1>{{character.spirit_armor}}</h1>
                </div>
            </div>
        </div> <!-- end sanity -->

        <div class = 'stats-wrapper'> 
            <div class = 'horror_container'>
                <div class = 'character_stat'>
                    <h1>Horror</h1>
                    <h1>{{character.horror}} / {{character.max_horror}}</h1>
                    <div>
                        <button>+</button>
                        <button>-</button>
                    </div>  
                </div>

                <div class = 'character_stat'>
                    <h1>Corruption Resistance</h1>
                    <h1>{{character.corruption_resistance}}</h1>

                </div>
            </div> <!-- End of Horror -->
        </div><!-- End of horror -->
        
    </div> <!-- end of left page -->

    <div class = 'right-container'>

        <div class = 'ability_card'>
            <h1 style="background-color: rgb(184, 18, 18);">{{ character.class_ability.name }}</h1>
            <div style=" height: 100%; display: flex; justify-content: center; align-items: center;">
                <p>{{ character.class_ability.description }}</p>
            </div>
        </div>
        <br>

        <div class = 'ability_card'>
            <h1 id="CurrentAbilityName" style="background-color: rgb(39, 123, 57);">{{ character.current_ability.name }}</h1>
            <div style=" height: 100%; display: flex; justify-content: center; align-items: center; ;">
                <p id="CurrentAbilityDescription">{{ character.current_ability.description }}</p>
            </div>
        </div>
        <br>
        <button id="CycleAbilityBtn">Next Ability</button>
        
    </div>
</div> <!-- page-container -->



<script>
// Get CSRF token from the hidden div
function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
}

// Get the current URL (character detail page URL)
const currentURL = window.location.href;

// DOM elements
const cycleBtn = document.getElementById('CycleAbilityBtn');

const health_add = document.getElementById('health_add')
const health_sub = document.getElementById('health_sub')




// Utility function to send and receive data from backend
async function fetchData(url, dataDict) {
    try {
        // convert the dataDict into something the 
        const formBody = new URLSearchParams(dataDict).toString();

        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCSRFToken(),
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formBody
        });

        const data = await response.json();

        if (!response.ok) {
            throw new Error(data.error || 'Something went wrong');
        }

        return data; // returns the backend's response as a dictionary
    } catch (error) {
        console.error('Error in fetchData:', error);
        throw error; // propagate error to caller
    }
}


cycleBtn.addEventListener('click', async function() {
    // elements that will be updated
    const abilityNameEl = document.getElementById('CurrentAbilityName');
    const abilityDescEl = document.getElementById('CurrentAbilityDescription');

    try {
        // send data into the back end and get the response
        const data = await fetchData(currentURL, { action: 'cycle_ability' });

        // if there is a valid response
        if (data.new_ability_name) {
            abilityNameEl.textContent = data.new_ability_name;
            abilityDescEl.textContent = data.new_ability_description;
        } else {
            abilityNameEl.textContent = 'No Abilities';
            abilityDescEl.textContent = 'No abilities available';
        }

    } catch (error) {
        alert('Failed to cycle ability: ' + error.message);
    }
});


health_add.addEventListener('click', () => update_health(1));
health_sub.addEventListener('click', () => update_health(-1));


async function update_health(num){
    health_label = document.getElementById('health_stat')
    try {
        // send data into the back end and get the response
        const data = await fetchData(currentURL, { action: 'health', amount: num});

        // if there is a valid response
        if (data.health !== undefined) {
            health_label.textContent = `${data.health} / ${data.max_health}`
        } 
    } catch (error) {
        alert('Failed to cycle ability: ' + error.message);
    }
}


</script>

{% endblock content %}



