{% extends 'base.html' %}
<!-- templates/characters/character_list.html -->

{% block content %}
<h2>Your Characters</h2>

<a href="{% url 'create_character' %}" class="btn btn-primary">Create New Character</a>

<ul>
    {% for character in characters %}
        <li>
        <large-card 
            h1 = {{character.character_class}}
            character-url="{% url 'character_detail' character.pk %}">
            >
        </large-card>
        </li>
    {% empty %}
        <li>No characters yet.</li>
    {% endfor %}
</ul>
{% endblock content %}


